@import "../../../Styles/minxins/respond.scss";


.main {
  margin: 10rem 1;
}

.container {
  width: 100%;
  height: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 5rem;

  & h2 {
    width: fit-content;
    padding: 1rem;
    font-family: sans-serif;
    font-size: 1.8rem;
    color: hwb(36 0% 0% / 0.7);
    background-color: #211e1e;
  }

  & h1 {
    font-size: 3.6rem;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;

  @include respond (phone) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

   @include respond (tab-port) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.active {
  display: flex;
  padding: 0 4rem 0 0;
  justify-content: space-between;
  align-items: center;

  & h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  & p {
    font-size: 1.4rem;
  }
}

.line {
  margin: 20px 0;
  width: 60rem;
  height: 1px;
  background-color: rgb(255, 255, 255, 0.3);

  @include respond (phone) {
    width: 35rem;
  }

   @include respond (tab-port) {
    width: 65rem;
  }

  
   @include respond (bigScreen) {
    width: 70rem;
  }
}

.plan {
  margin-top: 5rem;
  color: rgb(255, 255, 255, 0.3);
  font-size: 1.8rem;
}
