@import "../../../Styles/minxins/respond.scss";

.gutter {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
//   border: 1px solid red;
  padding: 0 calc(var(--base) / 6);

}

.gutterLeft {
  padding-left: calc(var(--base) / 5.5);
  @include respond(phone) {
    padding-left: calc(var(--base) / 8);
  }

   @include respond(bigScreen) {
    padding-left: calc(var(--base) * 1);
  }
}

.gutterRight {
  padding-right: calc(var(--base) * 0.2);

  @include respond(phone) {
    padding-right: calc(var(--base) / 8);
  }

  // @include respond (tab-port) {
  //   padding-right: calc(var(--base) * 0.2);
  // }

  @include respond(bigScreen) {
    padding-right: calc(var(--base) * 1);
  }
}
