body {
  margin: 0;
  height: 100dvh;
  width: 100dvw;
  background-color: #181616;
  --main-color: linear-gradient(
    90deg,
    #f69220 0.04%,
    #f68e20 28.67%,
    #f48421 54.05%,
    #f37221 78.11%,
    #f05a22 100.04%
  );
  color: #fff;
  overflow-x: hidden;
  --base: 24rem;

  // Scroll bar
  ::-webkit-scrollbar {
    height: 0;
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
  }

  /* Optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    background: #eee;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // Scroll bar
  ::-webkit-scrollbar {
    height: 0;
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
  }

  /* Optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    background: #eee;
  }
}